.custom-select {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .custom-select select {
    outline: none;
    appearance: none;
    width: 100%;
    font-size: 0.875rem;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 99px;
    color: #515151;
    cursor: pointer;
  }


  .custom-select select:focus{
    outline: none;
    border-color: #4f46e5; 
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2); 
  }