
   .input-group input {
    outline: none;
    border: 1px solid #9d9d9d;
    margin: 8px 0;
    background-color: #fff;
    font-size: 0.875rem;
    line-height: 1.5rem;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }


  .input-group input:focus {
    outline: none;
    border-color: #4f46e5; 
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2); 
  }


   
  