.hero {
  height: 100vh;
  background: no-repeat center center/cover;
}

.hero-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 5%;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 16px;
}

.submit-container h2 {
  color: #ffffff;
  font-size: 86px;
  font-weight: 200;
}

.submit-container p {
  color: #f9faf9;
  margin: 20px;
  font-size: 24px;
  max-width: 350px;
  font-weight: 300;
}

.submit-container-button {
  background-color: white;
  color: #28a745;
  border: 1px solid #ffffff; 
  transition: background-color 0.3s ease;
}


.submit-container button:hover {
  background-color: rgb(227, 227, 227);
  
}
