.navbar {
    background-color: transparent;
    padding: 20px 40px;

  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #f8f8f8;
    transition: color 0.3s ease;
  }

  .navbar-logo:hover{
    text-decoration: underline;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  
  .navbar-button-login {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 99px;
    transition: background-color 0.05s ease;
  }

  .navbar-button-username {
    margin-right: 20px;
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 99px;
    transition: background-color 0.05s ease;
  }

  .navbar-button-username:hover {
    text-decoration: underline;
  }

  .navbar-button-register {
    margin: auto;
    border-radius: 99px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: text-decoration 0.5s ease-in-out;
  }
  
  .navbar-button-login:hover {
    text-decoration: underline;
  }

  .navbar-button-register:hover {
    
    text-decoration: underline;
    
  }