.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #28a745;
    border-radius: 5px;
    overflow: hidden; 
  }
  
  .pagination li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #28a745;
  }
  
  .pagination .active a {
    background-color: #28a745;
    color: white;
    font-weight: bold;
  }

  .post {
    border-bottom: 1px solid rgb(69, 69, 69);
    margin: 2rem;
    padding: 1rem;
    color: rgb(63, 63, 63);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    cursor: pointer; 
    text-decoration: none;
  }

  
  .post .leftContent {
    flex-grow: 1; 
  }
  
  .post .chevron {
    cursor: pointer; 
    color: #0e0e0e;
  }

  .search-bar {
    display: block;
    width: 350px;
    padding: 15px 20px;
    border: 1px solid #d1d5db; /* Equivalent to border-gray-300 */
    border-radius: 99px;
    font-size: 14px;
    color: #333;
    background-color: white;

  }

  .search-bar:focus{
    outline: none;
    border-color: #4f46e5; 
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2); 
  }

  .search-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  

  
 