.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;    
    width: 100%;      
  }

  .company-name  {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    margin-bottom: 50px;
  }

 .form-container h2 {
    color: black;
    align-self: start;
    margin-bottom: 25px;
 } 


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}
 
.name-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.custom-button {
    background-color: #28a745;
    transition: background-color 0.1s ease;
    width: 400px;
}

.custom-button-succesfull {
    background-color: #3079c2;
    transition: background-color 0.1s ease;
    width: 400px;
}

.custom-button:hover{
    background-color: #1b6e2f;
}

.error-message {
    color: red !important;
    font-size: 0.8rem;
    margin-top: 5px;
    /* Use !important to force the style */
    font-weight: 400;
    text-align: left;
}
  
  /* Increase specificity */
.form-container .error-message {
    color: red !important;
}
  
  /* Ensure no parent styles interfere */
input + .error-message {
    display: block;
    width: 100%;
}

  